In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('02_seoul_accident_clean.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고년도       74485 non-null  int64
 1   사고월        74485 non-null  int64
 2   사고일        74485 non-null  int64
 3   사고시각       74485 non-null  int64
 4   사고요일       74485 non-null  int64
 5   시군구_대범주    74485 non-null  object
 6   시군구_소범주    74485 non-null  object
 7   사고내용       74485 non-null  object
 8   사망자수       74485 non-null  int64
 9   중상자수       74485 non-null  int64
 10  경상자수       74485 non-null  int64
 11  부상신고자수     74485 non-null  int64
 12  사고유형_대범주   74485 non-null  object
 13  사고유형_소범주   74485 non-null  object
 14  법규위반       74485 non-null  object
 15  노면상태_대범주   74485 non-null  object
 16  노면상태_소범주   74485 non-null  object
 17  기상상태       73575 non-null  object
 18  도로형태_대범주   74485 non-null  object
 19  도로형태_소범주   74485 non-null  object
 20  가해운전자차종    72734 non-null  object
 21  가해운전자성별    72738 non-null  object
 22  가해운전자연령    72727 non-null  float64
 23  가해운전자상해정도  70172 non-null  object
 24  피해운전자차종    72225 non-null  object
 25  피해운전자성별    72225 non-null  object
 26  피해운전자연령    72049 non-null  float64
 27  피해운전자상해정도  72225 non-null  object
dtypes: float64(2), int64(9), object(17)
memory usage: 16.5+ MB

## <span style="color:#004f9f"> 1. Handle Missing Data </span>

### <span style="color:#004f9f"> 1.1. 결측치의 확인 </span>

In [3]:
df['기상상태'].isnull()
# df.기상상태.isnull()  : 이것도 가능하긴함 이건 안되는 경우 많아서 위에 방법 권장

사고번호
A2019010100100001    False
A2019010100100002    False
A2019010100100003    False
A2019010100100019    False
A2019010100100020    False
                     ...
A2020123100100571    False
A2020123100100572    False
A2020123100100591    False
A2020123100100592    False
A2020123100100593    False
Name: 기상상태, Length: 74485, dtype: bool

In [4]:
df.isnull()

,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
사고번호,,,,,,,,,,,,,,,,,,,,,
A2019010100100001,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2019010100100002,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2019010100100003,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2019010100100019,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2019010100100020,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A2020123100100571,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2020123100100572,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2020123100100591,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
A2020123100100592,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2020123100100593,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
#보통 이렇게 많이 씀 isnull (method chain)

#결측치 몇개인지 세는것 

df['기상상태'].isnull().sum() # True=1, False=0

910

In [6]:
#합계를 개수로 나누니까 True = 결측치의 비율 나옴 

df['기상상태'].isnull().mean()

0.012217224944619721

In [7]:
#dataframe에도 적용 가능 / 이렇게 보는 것이 편함 

df.isnull().sum()

사고년도            0
사고월             0
사고일             0
사고시각            0
사고요일            0
시군구_대범주         0
시군구_소범주         0
사고내용            0
사망자수            0
중상자수            0
경상자수            0
부상신고자수          0
사고유형_대범주        0
사고유형_소범주        0
법규위반            0
노면상태_대범주        0
노면상태_소범주        0
기상상태          910
도로형태_대범주        0
도로형태_소범주        0
가해운전자차종      1751
가해운전자성별      1747
가해운전자연령      1758
가해운전자상해정도    4313
피해운전자차종      2260
피해운전자성별      2260
피해운전자연령      2436
피해운전자상해정도    2260
dtype: int64

In [8]:
df.isnull().mean()  #평균도 가능

사고년도         0.000000
사고월          0.000000
사고일          0.000000
사고시각         0.000000
사고요일         0.000000
시군구_대범주      0.000000
시군구_소범주      0.000000
사고내용         0.000000
사망자수         0.000000
중상자수         0.000000
경상자수         0.000000
부상신고자수       0.000000
사고유형_대범주     0.000000
사고유형_소범주     0.000000
법규위반         0.000000
노면상태_대범주     0.000000
노면상태_소범주     0.000000
기상상태         0.012217
도로형태_대범주     0.000000
도로형태_소범주     0.000000
가해운전자차종      0.023508
가해운전자성별      0.023454
가해운전자연령      0.023602
가해운전자상해정도    0.057904
피해운전자차종      0.030342
피해운전자성별      0.030342
피해운전자연령      0.032705
피해운전자상해정도    0.030342
dtype: float64

### <span style="color:#004f9f"> 1.2. 결측치의 제거 </span>

결측치는 보통 제거보다는 대체를 많이 한다!

In [9]:
df.shape

(74485, 28)

In [10]:
df.dropna()  #바로 업데이트 안함 df = df.dropna()로 했어야함

,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
사고번호,,,,,,,,,,,,,,,,,,,,,
A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상
A2019010100100019,2019,1,1,1,1,중구,중구 회현동2가,경상사고,0,0,...,단일로,단일로 - 터널,승용,남,58.0,상해없음,승용,남,62.0,경상
A2019010100100020,2019,1,1,1,1,성동구,성동구 행당동,경상사고,0,0,...,교차로,교차로 - 교차로부근,승용,남,30.0,상해없음,보행자,남,32.0,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A2020123100100570,2020,12,31,22,3,성북구,성북구 보문동1가,경상사고,0,0,...,교차로,교차로 - 교차로부근,이륜,남,24.0,상해없음,승용,남,54.0,경상
A2020123100100571,2020,12,31,22,3,동대문구,동대문구 제기동,경상사고,0,0,...,단일로,단일로 - 기타,화물,남,35.0,상해없음,자전거,남,41.0,경상
A2020123100100572,2020,12,31,22,3,강동구,강동구 강일동,경상사고,0,0,...,교차로,교차로 - 교차로부근,승용,남,61.0,상해없음,승용,남,21.0,경상
A2020123100100592,2020,12,31,23,3,송파구,송파구 신천동,중상사고,0,1,...,단일로,단일로 - 기타,승용,남,62.0,상해없음,이륜,남,22.0,중상
A2020123100100593,2020,12,31,23,3,양천구,양천구 신월동,경상사고,0,0,...,단일로,단일로 - 기타,승용,남,61.0,상해없음,승용,남,22.0,경상

In [11]:
df.dropna().shape

(66940, 28)

### <span style="color:#004f9f"> 1.3. 결측치의 대체 </span>

In [12]:
df.isnull().mean()

사고년도         0.000000
사고월          0.000000
사고일          0.000000
사고시각         0.000000
사고요일         0.000000
시군구_대범주      0.000000
시군구_소범주      0.000000
사고내용         0.000000
사망자수         0.000000
중상자수         0.000000
경상자수         0.000000
부상신고자수       0.000000
사고유형_대범주     0.000000
사고유형_소범주     0.000000
법규위반         0.000000
노면상태_대범주     0.000000
노면상태_소범주     0.000000
기상상태         0.012217
도로형태_대범주     0.000000
도로형태_소범주     0.000000
가해운전자차종      0.023508
가해운전자성별      0.023454
가해운전자연령      0.023602
가해운전자상해정도    0.057904
피해운전자차종      0.030342
피해운전자성별      0.030342
피해운전자연령      0.032705
피해운전자상해정도    0.030342
dtype: float64

**[기상상태]** : 새로운범주생성

In [13]:
df['기상상태'].value_counts(normalize=True, dropna=False)

#기상상태 값 뭐뭐 있는지 확인 / normalize하면 비율로 알려줌 / dropna=False는 결측치 포함해서 보여줌
#결측치는 눈이나 안개보다 많은 비율이기 때문에 이유가 있을 것 -> 새로운 범주 생성

맑음     0.884366
비      0.062912
흐림     0.038853
NaN    0.012217
눈      0.001598
안개     0.000054
Name: 기상상태, dtype: float64

In [14]:
#결측치 새로운 범주 생성

df['기상상태'] = df['기상상태'].fillna('기타')
df['기상상태'].value_counts(normalize=True)

맑음    0.884366
비     0.062912
흐림    0.038853
기타    0.012217
눈     0.001598
안개    0.000054
Name: 기상상태, dtype: float64

**[가해운전자성별]** : 최빈값대체

In [15]:
df['가해운전자성별'].value_counts(normalize=True, dropna=False)

#결측치 0.02면 미미한 상태 -> 압도적으로 높은 비율인 '남'으로 대체

남      0.799356
여      0.177190
NaN    0.023454
Name: 가해운전자성별, dtype: float64

In [16]:
df['가해운전자성별'] = df['가해운전자성별'].fillna('남')
df['가해운전자성별'].value_counts(normalize=True)

남    0.82281
여    0.17719
Name: 가해운전자성별, dtype: float64

**[가해운전자연령]** : 중앙값 대체  #수치형 변수

In [17]:
#수치형 변수라서 describe

df['가해운전자연령'].describe()

count    72727.000000
mean        48.063498
std         15.705427
min          5.000000
25%         35.000000
50%         50.000000
75%         60.000000
max         98.000000
Name: 가해운전자연령, dtype: float64

In [18]:
df['가해운전자연령'] = df['가해운전자연령'].fillna(df['가해운전자연령'].median())
df['가해운전자연령'] = df['가해운전자연령'].astype('int')
#결측치는 float으로 저장됨 -> 결측치 제거했으므로 int로 타입 변환해도 괜찮음 
df['가해운전자연령'].isnull().sum()

0

#### <span style="color: #00a470"> [Exercise01] 결측치 처리하기 </span>
- 결측치가 있는 나머지 열들을 처리해서 결측치가 없는 데이터프레임을 완성

In [19]:
df.isnull().sum()

사고년도            0
사고월             0
사고일             0
사고시각            0
사고요일            0
시군구_대범주         0
시군구_소범주         0
사고내용            0
사망자수            0
중상자수            0
경상자수            0
부상신고자수          0
사고유형_대범주        0
사고유형_소범주        0
법규위반            0
노면상태_대범주        0
노면상태_소범주        0
기상상태            0
도로형태_대범주        0
도로형태_소범주        0
가해운전자차종      1751
가해운전자성별         0
가해운전자연령         0
가해운전자상해정도    4313
피해운전자차종      2260
피해운전자성별      2260
피해운전자연령      2436
피해운전자상해정도    2260
dtype: int64

['가해운전자차종'] : 새로운 범주 '기타' 생성

In [20]:
df['가해운전자차종'].value_counts(normalize=True, dropna=False)

승용             0.635913
이륜             0.108478
화물             0.082648
승합             0.067799
자전거            0.047902
NaN            0.023508
원동기            0.016487
건설기계           0.007841
개인형이동수단(PM)    0.006995
특수             0.002162
사륜오토바이(ATV)    0.000255
농기계            0.000013
Name: 가해운전자차종, dtype: float64

In [21]:
df['가해운전자차종'] = df['가해운전자차종'].fillna('기타')
df['가해운전자차종'].value_counts(normalize=True)

승용             0.635913
이륜             0.108478
화물             0.082648
승합             0.067799
자전거            0.047902
기타             0.023508
원동기            0.016487
건설기계           0.007841
개인형이동수단(PM)    0.006995
특수             0.002162
사륜오토바이(ATV)    0.000255
농기계            0.000013
Name: 가해운전자차종, dtype: float64

['가해운전자상해정도'] : 새로운 범주 '기타' 생성

In [22]:
df['가해운전자상해정도'].value_counts(normalize=True, dropna=False)

상해없음    0.777647
경상      0.092582
NaN     0.057904
부상신고    0.046627
중상      0.023441
사망      0.001799
Name: 가해운전자상해정도, dtype: float64

In [23]:
df['가해운전자상해정도'] = df['가해운전자상해정도'].fillna('기타')
df['가해운전자상해정도'].value_counts(normalize=True)

상해없음    0.777647
경상      0.092582
기타      0.057904
부상신고    0.046627
중상      0.023441
사망      0.001799
Name: 가해운전자상해정도, dtype: float64

['피해운전자차종'] : '기타불명'으로 대체

In [24]:
df['피해운전자차종'].value_counts(normalize=True, dropna=False)

승용             0.450574
보행자            0.235846
이륜             0.130644
자전거            0.043499
승합             0.040800
화물             0.039766
NaN            0.030342
원동기            0.017144
개인형이동수단(PM)    0.003961
기타불명           0.002886
건설기계           0.002712
특수             0.001463
사륜오토바이(ATV)    0.000349
농기계            0.000013
Name: 피해운전자차종, dtype: float64

In [25]:
df['피해운전자차종'] = df['피해운전자차종'].fillna('기타불명')
df['피해운전자차종'].value_counts(normalize=True)

승용             0.450574
보행자            0.235846
이륜             0.130644
자전거            0.043499
승합             0.040800
화물             0.039766
기타불명           0.033228
원동기            0.017144
개인형이동수단(PM)    0.003961
건설기계           0.002712
특수             0.001463
사륜오토바이(ATV)    0.000349
농기계            0.000013
Name: 피해운전자차종, dtype: float64

['피해운전자성별'] : '기타불명'으로 대체

In [26]:
df['피해운전자성별'].value_counts(normalize=True, dropna=False)

남       0.715231
여       0.252131
NaN     0.030342
기타불명    0.002296
Name: 피해운전자성별, dtype: float64

In [27]:
df['피해운전자성별'] = df['피해운전자성별'].fillna('기타불명')
df['피해운전자성별'].value_counts(normalize=True)

남       0.715231
여       0.252131
기타불명    0.032637
Name: 피해운전자성별, dtype: float64

In [28]:
#기타불명을 최빈값 '남'으로 대체하는 경우 코드
#df['피해운전자성별'] = df['피해운전자성별'].replace({'기타불명' : '남'})

['피해운전자연령'] : 중앙값 대체

In [29]:
df['피해운전자연령'].describe()

count    72049.000000
mean        45.369054
std         16.384227
min          1.000000
25%         32.000000
50%         45.000000
75%         58.000000
max         98.000000
Name: 피해운전자연령, dtype: float64

In [30]:
df['피해운전자연령'] = df['피해운전자연령'].fillna(df['피해운전자연령'].median())
df['피해운전자연령'] = df['피해운전자연령'].astype(int)

In [31]:
df['피해운전자연령'].isnull().sum()

0

['피해운전자상해정도'] : '기타불명'으로 대체

In [32]:
df['피해운전자상해정도'].value_counts(normalize=True, dropna=False)

경상      0.601423
중상      0.190079
상해없음    0.127744
부상신고    0.039565
NaN     0.030342
기타불명    0.006713
사망      0.004135
Name: 피해운전자상해정도, dtype: float64

In [33]:
df['피해운전자상해정도'] = df['피해운전자상해정도'].fillna('기타불명')
df['피해운전자상해정도'].value_counts(normalize=True)

경상      0.601423
중상      0.190079
상해없음    0.127744
부상신고    0.039565
기타불명    0.037054
사망      0.004135
Name: 피해운전자상해정도, dtype: float64

결과 확인

In [34]:
df.isnull().sum()

사고년도         0
사고월          0
사고일          0
사고시각         0
사고요일         0
시군구_대범주      0
시군구_소범주      0
사고내용         0
사망자수         0
중상자수         0
경상자수         0
부상신고자수       0
사고유형_대범주     0
사고유형_소범주     0
법규위반         0
노면상태_대범주     0
노면상태_소범주     0
기상상태         0
도로형태_대범주     0
도로형태_소범주     0
가해운전자차종      0
가해운전자성별      0
가해운전자연령      0
가해운전자상해정도    0
피해운전자차종      0
피해운전자성별      0
피해운전자연령      0
피해운전자상해정도    0
dtype: int64

## <span style="color:#004f9f"> 2. Check the Outlier </span>

### <span style="color:#004f9f"> 2.1. 범주형 변수 이상치 처리 </span>

In [35]:
#보통 이상치는 특이한 값으로 몇개 안됨 - 미분류같이

df['도로형태_대범주'].value_counts()

단일로    37918
교차로    32242
기타      4056
주차장      246
미분류       23
Name: 도로형태_대범주, dtype: int64

In [36]:
#미분류를 기타로 바꾸기 

my_dict = {'미분류': '기타'}
df['도로형태_대범주'] = df['도로형태_대범주'].replace(my_dict)
df['도로형태_대범주'].value_counts()

단일로    37918
교차로    32242
기타      4079
주차장      246
Name: 도로형태_대범주, dtype: int64

### <span style="color:#004f9f"> 2.2. 수치형 변수 이상치 처리 </span>

In [37]:
#describe로 시작 (min-max값 확인하자)
#이상함을 느끼면 25 %, 75% 값도 확인 -> 이 값들은 무조건 상식과 맞아야함 (아니면 잘못된 데이터)

df.describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,74485.0,2019.472941,0.499271,2019.0,2019.0,2019.0,2020.0,2020.0
사고월,74485.0,6.635564,3.394929,1.0,4.0,7.0,10.0,12.0
사고일,74485.0,15.915795,8.711574,1.0,8.0,16.0,23.0,31.0
사고시각,74485.0,13.500007,6.157449,0.0,9.0,14.0,18.0,23.0
사고요일,74485.0,2.887373,1.928994,0.0,1.0,3.0,4.0,6.0
사망자수,74485.0,0.006297,0.079271,0.0,0.0,0.0,0.0,2.0
중상자수,74485.0,0.260616,0.496658,0.0,0.0,0.0,0.0,11.0
경상자수,74485.0,0.985406,0.951337,0.0,0.0,1.0,1.0,41.0
부상신고자수,74485.0,0.115553,0.429224,0.0,0.0,0.0,0.0,47.0
가해운전자연령,74485.0,48.109203,15.521762,5.0,36.0,50.0,60.0,98.0
피해운전자연령,74485.0,45.356985,16.114210,1.0,33.0,45.0,58.0,98.0

In [38]:
#where

c = df['가해운전자연령']<90  #90세 미만만 정상으로 생각 
temp = df['가해운전자연령'].where(c, np.nan) 
#where인 경우 c가 true이면 가해운전자연령 그대로, false이면 뒤에 있는 np.nan으로 
temp.isnull().sum()

18

In [39]:
#clip

df['가해운전자연령'] = df['가해운전자연령'].clip(lower=20, upper=80)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,74485.0,2019.472941,0.499271,2019.0,2019.0,2019.0,2020.0,2020.0
사고월,74485.0,6.635564,3.394929,1.0,4.0,7.0,10.0,12.0
사고일,74485.0,15.915795,8.711574,1.0,8.0,16.0,23.0,31.0
사고시각,74485.0,13.500007,6.157449,0.0,9.0,14.0,18.0,23.0
사고요일,74485.0,2.887373,1.928994,0.0,1.0,3.0,4.0,6.0
사망자수,74485.0,0.006297,0.079271,0.0,0.0,0.0,0.0,2.0
중상자수,74485.0,0.260616,0.496658,0.0,0.0,0.0,0.0,11.0
경상자수,74485.0,0.985406,0.951337,0.0,0.0,1.0,1.0,41.0
부상신고자수,74485.0,0.115553,0.429224,0.0,0.0,0.0,0.0,47.0
가해운전자연령,74485.0,48.192723,15.271282,20.0,36.0,50.0,60.0,80.0
피해운전자연령,74485.0,45.356985,16.114210,1.0,33.0,45.0,58.0,98.0

#### <span style="color: #00a470"> [Exercise02] 이상치 처리하기 </span>
- 범주형 변수 이상치 처리하기 : 피해운전자차종
- 수치형 변수 이상치 처리하기 : 피해운전자연령

['피해운전자차종'] 이상치 처리

In [40]:
df['피해운전자차종'].value_counts()

승용             33561
보행자            17567
이륜              9731
자전거             3240
승합              3039
화물              2962
기타불명            2475
원동기             1277
개인형이동수단(PM)      295
건설기계             202
특수               109
사륜오토바이(ATV)       26
농기계                1
Name: 피해운전자차종, dtype: int64

In [41]:
dic = {'농기계' : '기타불명', '사륜오토바이(ATV)' : '기타불명'}

df['피해운전자차종'] = df['피해운전자차종'].replace(dic)
df['피해운전자차종'].value_counts()

승용             33561
보행자            17567
이륜              9731
자전거             3240
승합              3039
화물              2962
기타불명            2502
원동기             1277
개인형이동수단(PM)      295
건설기계             202
특수               109
Name: 피해운전자차종, dtype: int64

['피해운전자연령'] 이상치 처리

In [42]:
df['피해운전자연령'].describe().T

count    74485.000000
mean        45.356985
std         16.114210
min          1.000000
25%         33.000000
50%         45.000000
75%         58.000000
max         98.000000
Name: 피해운전자연령, dtype: float64

In [43]:
#where 사용 : 평균 + 표준편차*3 범위 (~93.699615)이므로 94세 미만을 정상 범주로 취급 

x = df['피해운전자연령'] < 94
tem = df['피해운전자연령'].where(x, np.nan)
tem.isnull().sum()

#10개 결측치 제거할 경우 코드 
#df['피해운전자연령'].dropna()

10

In [44]:
#clip 범위를 확인하기 위해 10세 미만이거나 90세 이상인 값이 얼마나 되는지 확인 
# df['test'] = df.apply(lambda x : x['피해운전자연령']<10 or x['피해운전자연령']>90, axis=1)
# df['test'].value_counts()

In [45]:
#clip 사용 

df['피해운전자연령'] = df['피해운전자연령'].clip(lower=10, upper=90)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,74485.0,2019.472941,0.499271,2019.0,2019.0,2019.0,2020.0,2020.0
사고월,74485.0,6.635564,3.394929,1.0,4.0,7.0,10.0,12.0
사고일,74485.0,15.915795,8.711574,1.0,8.0,16.0,23.0,31.0
사고시각,74485.0,13.500007,6.157449,0.0,9.0,14.0,18.0,23.0
사고요일,74485.0,2.887373,1.928994,0.0,1.0,3.0,4.0,6.0
사망자수,74485.0,0.006297,0.079271,0.0,0.0,0.0,0.0,2.0
중상자수,74485.0,0.260616,0.496658,0.0,0.0,0.0,0.0,11.0
경상자수,74485.0,0.985406,0.951337,0.0,0.0,1.0,1.0,41.0
부상신고자수,74485.0,0.115553,0.429224,0.0,0.0,0.0,0.0,47.0
가해운전자연령,74485.0,48.192723,15.271282,20.0,36.0,50.0,60.0,80.0
피해운전자연령,74485.0,45.383809,16.045821,10.0,33.0,45.0,58.0,90.0