In [1]:
import numpy as np
import pandas as pd

## <span style="color:#004f9f"> 1. Importing Data </span>

In [2]:
df = pd.read_csv('01_seoul_accident_raw.csv', encoding='euc-kr')
df.head()

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019년 1월 1일 00시,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019년 1월 1일 00시,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019년 1월 1일 00시,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019년 1월 1일 01시,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019년 1월 1일 01시,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  object
 2   시군구        74485 non-null  object
 3   사고내용       74485 non-null  object
 4   사망자수       74485 non-null  int64
 5   중상자수       74485 non-null  int64
 6   경상자수       74485 non-null  int64
 7   부상신고자수     74485 non-null  int64
 8   사고유형       74485 non-null  object
 9   법규위반       74485 non-null  object
 10  노면상태       74485 non-null  object
 11  기상상태       73575 non-null  object
 12  도로형태       74485 non-null  object
 13  가해운전자차종    72734 non-null  object
 14  가해운전자성별    72738 non-null  object
 15  가해운전자연령    72727 non-null  object
 16  가해운전자상해정도  70172 non-null  object
 17  피해운전자차종    72225 non-null  object
 18  피해운전자성별    72225 non-null  object
 19  피해운전자연령    72049 non-null  object
 20  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(17)
memory usage: 11.9+ MB

## <span style="color:#004f9f"> 2. Scrub for Duplicate </span>

In [4]:
df.shape # (행의 개수, 열의 개수)

(74485, 21)

In [5]:
df = df.drop_duplicates()
#df.drop_duplicates(inplace=True)

In [6]:
df.shape

(74485, 21)

## <span style="color:#004f9f"> 3. Scrub for Irrelevant / Incorrect Data </span>

### <span style="color:#004f9f"> 3.1. Index 다루기 </span>

In [7]:
df = df.set_index('사고번호')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고일시       74485 non-null  object
 1   시군구        74485 non-null  object
 2   사고내용       74485 non-null  object
 3   사망자수       74485 non-null  int64
 4   중상자수       74485 non-null  int64
 5   경상자수       74485 non-null  int64
 6   부상신고자수     74485 non-null  int64
 7   사고유형       74485 non-null  object
 8   법규위반       74485 non-null  object
 9   노면상태       74485 non-null  object
 10  기상상태       73575 non-null  object
 11  도로형태       74485 non-null  object
 12  가해운전자차종    72734 non-null  object
 13  가해운전자성별    72738 non-null  object
 14  가해운전자연령    72727 non-null  object
 15  가해운전자상해정도  70172 non-null  object
 16  피해운전자차종    72225 non-null  object
 17  피해운전자성별    72225 non-null  object
 18  피해운전자연령    72049 non-null  object
 19  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(16)
memory usage: 11.9+ MB

In [8]:
df = pd.read_csv('01_seoul_accident_raw.csv', encoding='euc-kr', index_col='사고번호')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고일시       74485 non-null  object
 1   시군구        74485 non-null  object
 2   사고내용       74485 non-null  object
 3   사망자수       74485 non-null  int64
 4   중상자수       74485 non-null  int64
 5   경상자수       74485 non-null  int64
 6   부상신고자수     74485 non-null  int64
 7   사고유형       74485 non-null  object
 8   법규위반       74485 non-null  object
 9   노면상태       74485 non-null  object
 10  기상상태       73575 non-null  object
 11  도로형태       74485 non-null  object
 12  가해운전자차종    72734 non-null  object
 13  가해운전자성별    72738 non-null  object
 14  가해운전자연령    72727 non-null  object
 15  가해운전자상해정도  70172 non-null  object
 16  피해운전자차종    72225 non-null  object
 17  피해운전자성별    72225 non-null  object
 18  피해운전자연령    72049 non-null  object
 19  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(16)
memory usage: 11.9+ MB

In [9]:
df.index

Index(['A2019010100100001', 'A2019010100100002', 'A2019010100100003',
       'A2019010100100019', 'A2019010100100020', 'A2019010100100021',
       'A2019010100100022', 'A2019010100100023', 'A2019010100100041',
       'A2019010100100042',
       ...
       'A2020123100100528', 'A2020123100100529', 'A2020123100100530',
       'A2020123100100569', 'A2020123100100570', 'A2020123100100571',
       'A2020123100100572', 'A2020123100100591', 'A2020123100100592',
       'A2020123100100593'],
      dtype='object', name='사고번호', length=74485)

In [10]:
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  object
 2   시군구        74485 non-null  object
 3   사고내용       74485 non-null  object
 4   사망자수       74485 non-null  int64
 5   중상자수       74485 non-null  int64
 6   경상자수       74485 non-null  int64
 7   부상신고자수     74485 non-null  int64
 8   사고유형       74485 non-null  object
 9   법규위반       74485 non-null  object
 10  노면상태       74485 non-null  object
 11  기상상태       73575 non-null  object
 12  도로형태       74485 non-null  object
 13  가해운전자차종    72734 non-null  object
 14  가해운전자성별    72738 non-null  object
 15  가해운전자연령    72727 non-null  object
 16  가해운전자상해정도  70172 non-null  object
 17  피해운전자차종    72225 non-null  object
 18  피해운전자성별    72225 non-null  object
 19  피해운전자연령    72049 non-null  object
 20  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(17)
memory usage: 11.9+ MB

In [11]:
df.index

RangeIndex(start=0, stop=74485, step=1)

In [12]:
df.reset_index(drop=True)

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019년 1월 1일 00시,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019년 1월 1일 00시,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019년 1월 1일 00시,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019년 1월 1일 01시,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019년 1월 1일 01시,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74480,A2020123100100571,2020년 12월 31일 22시,서울특별시 동대문구 제기동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,단일로 - 기타,화물,남,35세,상해없음,자전거,남,41세,경상
74481,A2020123100100572,2020년 12월 31일 22시,서울특별시 강동구 강일동,경상사고,0,0,1,0,차대차 - 정면충돌,중앙선침범,...,흐림,교차로 - 교차로부근,승용,남,61세,상해없음,승용,남,21세,경상
74482,A2020123100100591,2020년 12월 31일 23시,서울특별시 강남구 삼성동,경상사고,0,0,2,0,차대차 - 추돌,교차로운행방법위반,...,맑음,교차로 - 교차로안,승용,남,55세,NaN,승용,남,29세,경상
74483,A2020123100100592,2020년 12월 31일 23시,서울특별시 송파구 신천동,중상사고,0,1,0,0,차대차 - 측면충돌,불법유턴,...,맑음,단일로 - 기타,승용,남,62세,상해없음,이륜,남,22세,중상
74484,A2020123100100593,2020년 12월 31일 23시,서울특별시 양천구 신월동,경상사고,0,0,4,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 기타,승용,남,61세,상해없음,승용,남,22세,경상

### <span style="color:#004f9f"> 3.2. 날짜 다루기 </span>

In [13]:
df['사고일시']

0          2019년 1월 1일 00시
1          2019년 1월 1일 00시
2          2019년 1월 1일 00시
3          2019년 1월 1일 01시
4          2019년 1월 1일 01시
               ...
74480    2020년 12월 31일 22시
74481    2020년 12월 31일 22시
74482    2020년 12월 31일 23시
74483    2020년 12월 31일 23시
74484    2020년 12월 31일 23시
Name: 사고일시, Length: 74485, dtype: object

In [14]:
df['사고일시'] = pd.to_datetime(df['사고일시'], format='%Y년 %m월 %d일 %H시')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   시군구        74485 non-null  object
 3   사고내용       74485 non-null  object
 4   사망자수       74485 non-null  int64
 5   중상자수       74485 non-null  int64
 6   경상자수       74485 non-null  int64
 7   부상신고자수     74485 non-null  int64
 8   사고유형       74485 non-null  object
 9   법규위반       74485 non-null  object
 10  노면상태       74485 non-null  object
 11  기상상태       73575 non-null  object
 12  도로형태       74485 non-null  object
 13  가해운전자차종    72734 non-null  object
 14  가해운전자성별    72738 non-null  object
 15  가해운전자연령    72727 non-null  object
 16  가해운전자상해정도  70172 non-null  object
 17  피해운전자차종    72225 non-null  object
 18  피해운전자성별    72225 non-null  object
 19  피해운전자연령    72049 non-null  object
 20  피해운전자상해정도  72225 non-null  object
dtypes: datetime64[ns](1), int64(4), object(16)
memory usage: 11.9+ MB

In [15]:
df['사고일시'].dt.day_name('ko_KR')

0        화요일
1        화요일
2        화요일
3        화요일
4        화요일
        ...
74480    목요일
74481    목요일
74482    목요일
74483    목요일
74484    목요일
Name: 사고일시, Length: 74485, dtype: object

In [16]:
df['사고일시'].dt.weekday

0        1
1        1
2        1
3        1
4        1
        ..
74480    3
74481    3
74482    3
74483    3
74484    3
Name: 사고일시, Length: 74485, dtype: int64

- date_range

In [17]:
pd.date_range('2022-04-06', periods=100, freq='W')

DatetimeIndex(['2022-04-10', '2022-04-17', '2022-04-24', '2022-05-01',
               '2022-05-08', '2022-05-15', '2022-05-22', '2022-05-29',
               '2022-06-05', '2022-06-12', '2022-06-19', '2022-06-26',
               '2022-07-03', '2022-07-10', '2022-07-17', '2022-07-24',
               '2022-07-31', '2022-08-07', '2022-08-14', '2022-08-21',
               '2022-08-28', '2022-09-04', '2022-09-11', '2022-09-18',
               '2022-09-25', '2022-10-02', '2022-10-09', '2022-10-16',
               '2022-10-23', '2022-10-30', '2022-11-06', '2022-11-13',
               '2022-11-20', '2022-11-27', '2022-12-04', '2022-12-11',
               '2022-12-18', '2022-12-25', '2023-01-01', '2023-01-08',
               '2023-01-15', '2023-01-22', '2023-01-29', '2023-02-05',
               '2023-02-12', '2023-02-19', '2023-02-26', '2023-03-05',
               '2023-03-12', '2023-03-19', '2023-03-26', '2023-04-02',
               '2023-04-09', '2023-04-16', '2023-04-23', '2023-04-30',
               '2023-05-07', '2023-05-14', '2023-05-21', '2023-05-28',
               '2023-06-04', '2023-06-11', '2023-06-18', '2023-06-25',
               '2023-07-02', '2023-07-09', '2023-07-16', '2023-07-23',
               '2023-07-30', '2023-08-06', '2023-08-13', '2023-08-20',
               '2023-08-27', '2023-09-03', '2023-09-10', '2023-09-17',
               '2023-09-24', '2023-10-01', '2023-10-08', '2023-10-15',
               '2023-10-22', '2023-10-29', '2023-11-05', '2023-11-12',
               '2023-11-19', '2023-11-26', '2023-12-03', '2023-12-10',
               '2023-12-17', '2023-12-24', '2023-12-31', '2024-01-07',
               '2024-01-14', '2024-01-21', '2024-01-28', '2024-02-04',
               '2024-02-11', '2024-02-18', '2024-02-25', '2024-03-03'],
              dtype='datetime64[ns]', freq='W-SUN')

- Timedelta

In [18]:
pd.Timedelta(10, 'days')

Timedelta('10 days 00:00:00')

In [19]:
df['사고일시'] + pd.Timedelta(100, 'days')

0       2019-04-11 00:00:00
1       2019-04-11 00:00:00
2       2019-04-11 00:00:00
3       2019-04-11 01:00:00
4       2019-04-11 01:00:00
                ...
74480   2021-04-10 22:00:00
74481   2021-04-10 22:00:00
74482   2021-04-10 23:00:00
74483   2021-04-10 23:00:00
74484   2021-04-10 23:00:00
Name: 사고일시, Length: 74485, dtype: datetime64[ns]

In [20]:
(df['사고일시'] - (df['사고일시'] + pd.Timedelta(100, 'days'))).astype('timedelta64[D]')

0       -100.0
1       -100.0
2       -100.0
3       -100.0
4       -100.0
         ...
74480   -100.0
74481   -100.0
74482   -100.0
74483   -100.0
74484   -100.0
Name: 사고일시, Length: 74485, dtype: float64

### <span style="color:#004f9f"> 3.3. 새로운 열의 생성과 데이터프레임의 수정 </span>

In [21]:
df['사고일시'].dt.quarter

0        1
1        1
2        1
3        1
4        1
        ..
74480    4
74481    4
74482    4
74483    4
74484    4
Name: 사고일시, Length: 74485, dtype: int64

In [22]:
df['분기'] = df['사고일시'].dt.quarter
df.head()

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,분기
0,A2019010100100001,2019-01-01 00:00:00,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상,1
1,A2019010100100002,2019-01-01 00:00:00,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상,1
2,A2019010100100003,2019-01-01 00:00:00,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상,1
3,A2019010100100019,2019-01-01 01:00:00,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상,1
4,A2019010100100020,2019-01-01 01:00:00,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상,1

In [23]:
df.insert(2, '사고년도', df['사고일시'].dt.year)
df.head()

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,분기
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상,1
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상,1
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상,1
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상,1

In [24]:
col = {'분기':'사고분기',
       '사고년도':'년도'}
df = df.rename(columns = col)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   년도         74485 non-null  int64
 3   시군구        74485 non-null  object
 4   사고내용       74485 non-null  object
 5   사망자수       74485 non-null  int64
 6   중상자수       74485 non-null  int64
 7   경상자수       74485 non-null  int64
 8   부상신고자수     74485 non-null  int64
 9   사고유형       74485 non-null  object
 10  법규위반       74485 non-null  object
 11  노면상태       74485 non-null  object
 12  기상상태       73575 non-null  object
 13  도로형태       74485 non-null  object
 14  가해운전자차종    72734 non-null  object
 15  가해운전자성별    72738 non-null  object
 16  가해운전자연령    72727 non-null  object
 17  가해운전자상해정도  70172 non-null  object
 18  피해운전자차종    72225 non-null  object
 19  피해운전자성별    72225 non-null  object
 20  피해운전자연령    72049 non-null  object
 21  피해운전자상해정도  72225 non-null  object
 22  사고분기       74485 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(16)
memory usage: 13.1+ MB

In [25]:
col = ['사고분기']
df = df.drop(columns=col)
#df = df.drop(col, axis='columns')
#df = df.drop(col, axis=1)
df.head()

,사고번호,사고일시,년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

#### <span style="color: #00a470"> [Exercise01] 사고일시 처리하기 </span>
- 새로운 변수 생성
    - 사고년도
    - 사고월
    - 사고일
    - 사고시각
    - 사고요일(숫자로 표현)
- "사고일시" 삭제

[새로운 변수 생성]

In [26]:
#사고년도
col = {'년도':'사고년도'}
df = df.rename(columns = col)
df.head()

#다른 풀이
# df['사고년도'] = df['사고일시'].dt.year

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

In [27]:
#사고월 
df['사고월'] = df['사고일시'].dt.month
df.head()

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상,1
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상,1
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상,1
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상,1

In [28]:
#사고일
df['사고일'] = df['사고일시'].dt.day

In [29]:
#사고시각
df['사고시각'] = df['사고일시'].dt.time
df.head()

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,26세,상해없음,보행자,남,40세,경상,1,1,00:00:00
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,남,23세,상해없음,승용,남,71세,경상,1,1,00:00:00
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,남,33세,상해없음,화물,남,51세,경상,1,1,00:00:00
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,남,58세,상해없음,승용,남,62세,경상,1,1,01:00:00
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,30세,상해없음,보행자,남,32세,경상,1,1,01:00:00

In [30]:
#사고요일
df['사고요일'] = df['사고일시'].dt.weekday
df.head()

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,26세,상해없음,보행자,남,40세,경상,1,1,00:00:00,1
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,23세,상해없음,승용,남,71세,경상,1,1,00:00:00,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,33세,상해없음,화물,남,51세,경상,1,1,00:00:00,1
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,58세,상해없음,승용,남,62세,경상,1,1,01:00:00,1
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,30세,상해없음,보행자,남,32세,경상,1,1,01:00:00,1

[사고일시 삭제]

In [31]:
#사고일시 삭제
# c = ['사고일시']
# df = df.drop(columns=c)
# df.head()

### <span style="color:#004f9f"> 3.4. 데이터의 문제점 발견을 위한 데이터 탐색 </span>

In [32]:
df.describe().T

          count         mean       std     min     25%     50%     75%     max
사고년도    74485.0  2019.472941  0.499271  2019.0  2019.0  2019.0  2020.0  2020.0
사망자수    74485.0     0.006297  0.079271     0.0     0.0     0.0     0.0     2.0
중상자수    74485.0     0.260616  0.496658     0.0     0.0     0.0     0.0    11.0
경상자수    74485.0     0.985406  0.951337     0.0     0.0     1.0     1.0    41.0
부상신고자수  74485.0     0.115553  0.429224     0.0     0.0     0.0     0.0    47.0
사고월     74485.0     6.635564  3.394929     1.0     4.0     7.0    10.0    12.0
사고일     74485.0    15.915795  8.711574     1.0     8.0    16.0    23.0    31.0
사고요일    74485.0     2.887373  1.928994     0.0     1.0     3.0     4.0     6.0

In [33]:
df.select_dtypes(['object']).describe().T

           count unique                top   freq
사고번호       74485  74485  A2019010100100001      1
시군구        74485    465      서울특별시 강남구 역삼동   1621
사고내용       74485      4               경상사고  50992
사고유형       74485     17         차대차 - 측면충돌  24627
법규위반       74485     11            안전운전불이행  41379
노면상태       74485     11            포장 - 건조  67200
기상상태       73575      5                 맑음  65872
도로형태       74485     11           단일로 - 기타  36061
가해운전자차종    72734     11                 승용  47366
가해운전자성별    72738      2                  남  59540
가해운전자연령    72727     92                59세   1961
가해운전자상해정도  70172      5               상해없음  57923
피해운전자차종    72225     13                 승용  33561
피해운전자성별    72225      3                  남  53274
피해운전자연령    72049     98                27세   1572
피해운전자상해정도  72225      6                 경상  44797
사고시각       74485     24           18:00:00   5224

In [34]:
df.select_dtypes(['object']).nunique()

사고번호         74485
시군구            465
사고내용             4
사고유형            17
법규위반            11
노면상태            11
기상상태             5
도로형태            11
가해운전자차종         11
가해운전자성별          2
가해운전자연령         92
가해운전자상해정도        5
피해운전자차종         13
피해운전자성별          3
피해운전자연령         98
피해운전자상해정도        6
사고시각            24
dtype: int64

In [35]:
df['사고내용'].value_counts()

경상사고      50992
중상사고      17852
부상신고사고     5173
사망사고        468
Name: 사고내용, dtype: int64

In [36]:
df['사고내용'].value_counts(normalize=True)

경상사고      0.684594
중상사고      0.239672
부상신고사고    0.069450
사망사고      0.006283
Name: 사고내용, dtype: float64

In [37]:
df['시군구'].value_counts()

서울특별시 강남구 역삼동     1621
서울특별시 관악구 신림동     1496
서울특별시 서초구 서초동     1386
서울특별시 노원구 상계동     1342
서울특별시 강서구 화곡동     1267
                  ...
서울특별시 서대문구 봉원동       2
서울특별시 종로구 화동         2
서울특별시 중구 회현동3가       1
서울특별시 중구 수하동         1
서울특별시 종로구 송현동        1
Name: 시군구, Length: 465, dtype: int64

### <span style="color:#004f9f"> 3.5. 문자열 데이터 다루기 </span>

**[여러 개의 정보가 한 열에 담긴 데이터의 처리]**

In [38]:
df['시군구'] = df['시군구'].str.replace('서울특별시 ', '')
df.head()

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,26세,상해없음,보행자,남,40세,경상,1,1,00:00:00,1
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,23세,상해없음,승용,남,71세,경상,1,1,00:00:00,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,33세,상해없음,화물,남,51세,경상,1,1,00:00:00,1
3,A2019010100100019,2019-01-01 01:00:00,2019,중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,58세,상해없음,승용,남,62세,경상,1,1,01:00:00,1
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,30세,상해없음,보행자,남,32세,경상,1,1,01:00:00,1

In [39]:
df['시군구'].str.split(' ')

0         [강서구, 방화동]
1         [구로구, 고척동]
2         [서초구, 서초동]
3        [중구, 회현동2가]
4         [성동구, 행당동]
            ...
74480    [동대문구, 제기동]
74481     [강동구, 강일동]
74482     [강남구, 삼성동]
74483     [송파구, 신천동]
74484     [양천구, 신월동]
Name: 시군구, Length: 74485, dtype: object

In [40]:
df['시군구'].str.split(' ', expand=True)

          0      1     2
0       강서구    방화동  None
1       구로구    고척동  None
2       서초구    서초동  None
3        중구  회현동2가  None
4       성동구    행당동  None
...     ...    ...   ...
74480  동대문구    제기동  None
74481   강동구    강일동  None
74482   강남구    삼성동  None
74483   송파구    신천동  None
74484   양천구    신월동  None

[74485 rows x 3 columns]

In [41]:
df['시군구'].str.split(' ').str[0]

0         강서구
1         구로구
2         서초구
3          중구
4         성동구
         ...
74480    동대문구
74481     강동구
74482     강남구
74483     송파구
74484     양천구
Name: 시군구, Length: 74485, dtype: object

In [42]:
df.insert(3, '시군구_대범주', df['시군구'].str.split(' ').str[0])
df.head()

,사고번호,사고일시,사고년도,시군구_대범주,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구,강서구 방화동,경상사고,0,0,1,0,...,26세,상해없음,보행자,남,40세,경상,1,1,00:00:00,1
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구,구로구 고척동,경상사고,0,0,1,0,...,23세,상해없음,승용,남,71세,경상,1,1,00:00:00,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구,서초구 서초동,경상사고,0,0,1,0,...,33세,상해없음,화물,남,51세,경상,1,1,00:00:00,1
3,A2019010100100019,2019-01-01 01:00:00,2019,중구,중구 회현동2가,경상사고,0,0,1,0,...,58세,상해없음,승용,남,62세,경상,1,1,01:00:00,1
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구,성동구 행당동,경상사고,0,0,1,0,...,30세,상해없음,보행자,남,32세,경상,1,1,01:00:00,1

In [43]:
df = df.rename(columns={'시군구':'시군구_소범주'})
df.head()

,사고번호,사고일시,사고년도,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구,강서구 방화동,경상사고,0,0,1,0,...,26세,상해없음,보행자,남,40세,경상,1,1,00:00:00,1
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구,구로구 고척동,경상사고,0,0,1,0,...,23세,상해없음,승용,남,71세,경상,1,1,00:00:00,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구,서초구 서초동,경상사고,0,0,1,0,...,33세,상해없음,화물,남,51세,경상,1,1,00:00:00,1
3,A2019010100100019,2019-01-01 01:00:00,2019,중구,중구 회현동2가,경상사고,0,0,1,0,...,58세,상해없음,승용,남,62세,경상,1,1,01:00:00,1
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구,성동구 행당동,경상사고,0,0,1,0,...,30세,상해없음,보행자,남,32세,경상,1,1,01:00:00,1

**[잘못 입력된 문자열 데이터의 처리]**

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   사고년도       74485 non-null  int64
 3   시군구_대범주    74485 non-null  object
 4   시군구_소범주    74485 non-null  object
 5   사고내용       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형       74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태       74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태       74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  object
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  object
 22  피해운전자상해정도  72225 non-null  object
 23  사고월        74485 non-null  int64
 24  사고일        74485 non-null  int64
 25  사고시각       74485 non-null  object
 26  사고요일       74485 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(18)
memory usage: 15.3+ MB

In [45]:
df['가해운전자연령'].unique()

array(['26세', '23세', '33세', '58세', '30세', '31세', '49세', '29세', '28세',
       '56세', '51세', nan, '50세', '67세', '61세', '27세', '62세', '52세', '46세',
       '73세', '20세', '36세', '68세', '39세', '60세', '22세', '65세', '45세',
       '57세', '21세', '40세', '72세', '64세', '47세', '18세', '42세', '19세',
       '55세', '86세', '32세', '38세', '59세', '76세', '54세', '80세', '44세',
       '74세', '79세', '82세', '24세', '70세', '77세', '25세', '88세', '48세',
       '43세', '41세', '34세', '63세', '35세', '17세', '71세', '37세', '53세',
       '66세', '69세', '75세', '15세', '14세', '13세', '83세', '78세', '16세',
       '81세', '84세', '11세', '12세', '85세', '5세', '9세', '90세 이상', '8세',
       '89세', '7세', '87세', '6세', '10세', '93세', '90세', '91세', '94세',
       '98세 이상', '92세'], dtype=object)

In [46]:
df['가해운전자연령'] = df['가해운전자연령'].str.replace('세 이상','')
df['가해운전자연령'] = df['가해운전자연령'].str.replace('세','')
try:
    df['가해운전자연령'] = df['가해운전자연령'].astype('int')
except:
    df['가해운전자연령'] = df['가해운전자연령'].astype('float')

In [47]:
df['가해운전자연령'].describe()

count    72727.000000
mean        48.063498
std         15.705427
min          5.000000
25%         35.000000
50%         50.000000
75%         60.000000
max         98.000000
Name: 가해운전자연령, dtype: float64

#### <span style="color: #00a470"> [Exercise02] 문자열 데이터 처리하기 </span>
- 사고유형, 노면 상태, 도로형태 데이터의 확인 및 처리
    - 대범주-소범주 형태로 되어 있는 문자열을 처리하여 새로운 변수 생성
    - 사고유형_대범주, 노면상태_대범주, 도로형태_대범주
- 데이터 처리 후 사고유형, 노면상태, 도로형태 변수명을 수정
    - 사고유형_소범주
    - 노면상태_소범주
    - 도로형태_소범주
- 피해운전자연령 변수를 수치형으로 수정

[데이터 확인 및 처리 / 대범주 변수 생성]

In [48]:
df['사고유형'].value_counts()

차대차 - 측면충돌           24627
차대차 - 기타             15940
차대차 - 추돌             11194
차대사람 - 기타             7486
차대사람 - 횡단중            6106
차대차 - 정면충돌            1933
차대사람 - 차도통행중          1711
차량단독 - 기타             1565
차대사람 - 보도통행중          1226
차대사람 - 길가장자리구역통행중     1038
차대차 - 후진중충돌            964
차량단독 - 공작물충돌           442
차량단독 - 전도전복 - 전도       221
차량단독 - 전도전복 - 전복        12
차량단독 - 도로외이탈 - 추락       10
차량단독 - 도로외이탈 - 기타        6
차량단독 - 주/정차차량 충돌         4
Name: 사고유형, dtype: int64

In [49]:
df['노면상태'].value_counts()

포장 - 건조        67200
포장 - 젖음/습기      6033
포장 - 기타         1087
포장 - 서리/결빙        60
포장 - 적설           39
비포장 - 젖음/습기       27
비포장 - 건조          24
비포장 - 기타           8
포장 - 침수            3
포장 - 해빙            3
비포장 - 해빙           1
Name: 노면상태, dtype: int64

In [50]:
df['도로형태'].value_counts()

단일로 - 기타           36061
교차로 - 교차로안         18715
교차로 - 교차로부근        10739
기타 - 기타             4056
교차로 - 교차로횡단보도내      2788
단일로 - 지하차도(도로)내      734
단일로 - 교량             588
단일로 - 고가도로위          306
주차장 - 주차장            246
단일로 - 터널             229
미분류 - 미분류             23
Name: 도로형태, dtype: int64

In [51]:
df['사고유형'].str.split(' - ', expand=True )

          0     1     2
0      차대사람   횡단중  None
1       차대차    추돌  None
2       차대차    기타  None
3       차대차  측면충돌  None
4      차대사람   횡단중  None
...     ...   ...   ...
74480   차대차    기타  None
74481   차대차  정면충돌  None
74482   차대차    추돌  None
74483   차대차  측면충돌  None
74484   차대차  측면충돌  None

[74485 rows x 3 columns]

In [52]:
#사고유형 대범주 변수 생성
df['사고유형_대범주'] = df['사고유형'].str.split(' - ').str[0]
df.head()

,사고번호,사고일시,사고년도,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일,사고유형_대범주
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구,강서구 방화동,경상사고,0,0,1,0,...,상해없음,보행자,남,40세,경상,1,1,00:00:00,1,차대사람
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구,구로구 고척동,경상사고,0,0,1,0,...,상해없음,승용,남,71세,경상,1,1,00:00:00,1,차대차
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구,서초구 서초동,경상사고,0,0,1,0,...,상해없음,화물,남,51세,경상,1,1,00:00:00,1,차대차
3,A2019010100100019,2019-01-01 01:00:00,2019,중구,중구 회현동2가,경상사고,0,0,1,0,...,상해없음,승용,남,62세,경상,1,1,01:00:00,1,차대차
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구,성동구 행당동,경상사고,0,0,1,0,...,상해없음,보행자,남,32세,경상,1,1,01:00:00,1,차대사람

In [53]:
#노면상태 대범주 변수 생성
df['노면상태_대범주'] = df['노면상태'].str.split(' - ').str[0]
df.head()

,사고번호,사고일시,사고년도,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일,사고유형_대범주,노면상태_대범주
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구,강서구 방화동,경상사고,0,0,1,0,...,보행자,남,40세,경상,1,1,00:00:00,1,차대사람,포장
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구,구로구 고척동,경상사고,0,0,1,0,...,승용,남,71세,경상,1,1,00:00:00,1,차대차,포장
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구,서초구 서초동,경상사고,0,0,1,0,...,화물,남,51세,경상,1,1,00:00:00,1,차대차,포장
3,A2019010100100019,2019-01-01 01:00:00,2019,중구,중구 회현동2가,경상사고,0,0,1,0,...,승용,남,62세,경상,1,1,01:00:00,1,차대차,포장
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구,성동구 행당동,경상사고,0,0,1,0,...,보행자,남,32세,경상,1,1,01:00:00,1,차대사람,포장

In [54]:
#도로형태 대범주 변수 생성
df['도로형태_대범주'] = df['도로형태'].str.split(' - ').str[0]
df.head()

,사고번호,사고일시,사고년도,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일,사고유형_대범주,노면상태_대범주,도로형태_대범주
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구,강서구 방화동,경상사고,0,0,1,0,...,남,40세,경상,1,1,00:00:00,1,차대사람,포장,교차로
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구,구로구 고척동,경상사고,0,0,1,0,...,남,71세,경상,1,1,00:00:00,1,차대차,포장,단일로
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구,서초구 서초동,경상사고,0,0,1,0,...,남,51세,경상,1,1,00:00:00,1,차대차,포장,기타
3,A2019010100100019,2019-01-01 01:00:00,2019,중구,중구 회현동2가,경상사고,0,0,1,0,...,남,62세,경상,1,1,01:00:00,1,차대차,포장,단일로
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구,성동구 행당동,경상사고,0,0,1,0,...,남,32세,경상,1,1,01:00:00,1,차대사람,포장,교차로

[데이터 처리 후 변수 이름 수정]

In [55]:
df = df.rename(columns= {'사고유형':'사고유형_소범주', '노면상태':'노면상태_소범주', '도로형태':'도로형태_소범주'})
df.head()

,사고번호,사고일시,사고년도,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,피해운전자성별,피해운전자연령,피해운전자상해정도,사고월,사고일,사고시각,사고요일,사고유형_대범주,노면상태_대범주,도로형태_대범주
0,A2019010100100001,2019-01-01 00:00:00,2019,강서구,강서구 방화동,경상사고,0,0,1,0,...,남,40세,경상,1,1,00:00:00,1,차대사람,포장,교차로
1,A2019010100100002,2019-01-01 00:00:00,2019,구로구,구로구 고척동,경상사고,0,0,1,0,...,남,71세,경상,1,1,00:00:00,1,차대차,포장,단일로
2,A2019010100100003,2019-01-01 00:00:00,2019,서초구,서초구 서초동,경상사고,0,0,1,0,...,남,51세,경상,1,1,00:00:00,1,차대차,포장,기타
3,A2019010100100019,2019-01-01 01:00:00,2019,중구,중구 회현동2가,경상사고,0,0,1,0,...,남,62세,경상,1,1,01:00:00,1,차대차,포장,단일로
4,A2019010100100020,2019-01-01 01:00:00,2019,성동구,성동구 행당동,경상사고,0,0,1,0,...,남,32세,경상,1,1,01:00:00,1,차대사람,포장,교차로

[피해운전자연령 변수 수치형으로 수정]

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   사고년도       74485 non-null  int64
 3   시군구_대범주    74485 non-null  object
 4   시군구_소범주    74485 non-null  object
 5   사고내용       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형_소범주   74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태_소범주   74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태_소범주   74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  float64
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  object
 22  피해운전자상해정도  72225 non-null  object
 23  사고월        74485 non-null  int64
 24  사고일        74485 non-null  int64
 25  사고시각       74485 non-null  object
 26  사고요일       74485 non-null  int64
 27  사고유형_대범주   74485 non-null  object
 28  노면상태_대범주   74485 non-null  object
 29  도로형태_대범주   74485 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(8), object(20)
memory usage: 17.0+ MB

In [57]:
df['피해운전자연령'].unique()

array(['40세', '71세', '51세', '62세', '32세', '37세', '27세', '47세', '59세',
       '34세', '45세', '35세', '75세', '76세', '64세', '63세', '73세', '39세',
       '65세', '66세', '31세', nan, '41세', '8세', '46세', '74세', '25세', '33세',
       '48세', '17세', '24세', '58세', '53세', '44세', '30세', '38세', '28세',
       '60세', '52세', '23세', '70세', '21세', '67세', '68세', '26세', '36세',
       '42세', '22세', '29세', '56세', '43세', '49세', '57세', '55세', '50세',
       '81세', '19세', '69세', '20세', '61세', '54세', '18세', '72세', '80세',
       '87세', '84세', '15세', '77세', '14세', '78세', '85세', '83세', '4세',
       '79세', '16세', '82세', '13세', '88세', '7세', '9세', '86세', '11세', '12세',
       '5세', '10세', '1세', '90세 이상', '6세', '89세', '3세', '2세', '93세', '94세',
       '90세', '95세', '98세 이상', '91세', '96세', '92세'], dtype=object)

In [58]:
df['피해운전자연령'] = df['피해운전자연령'].str.replace('세 이상', '')
df['피해운전자연령'] = df['피해운전자연령'].str.replace('세', '')

In [59]:
df['피해운전자연령'].unique()

array(['40', '71', '51', '62', '32', '37', '27', '47', '59', '34', '45',
       '35', '75', '76', '64', '63', '73', '39', '65', '66', '31', nan,
       '41', '8', '46', '74', '25', '33', '48', '17', '24', '58', '53',
       '44', '30', '38', '28', '60', '52', '23', '70', '21', '67', '68',
       '26', '36', '42', '22', '29', '56', '43', '49', '57', '55', '50',
       '81', '19', '69', '20', '61', '54', '18', '72', '80', '87', '84',
       '15', '77', '14', '78', '85', '83', '4', '79', '16', '82', '13',
       '88', '7', '9', '86', '11', '12', '5', '10', '1', '90', '6', '89',
       '3', '2', '93', '94', '95', '98', '91', '96', '92'], dtype=object)

In [60]:
try:
    df['피해운전자연령'] = df['피해운전자연령'].astype('int')
except:
    df['피해운전자연령'] = df['피해운전자연령'].astype('float')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   사고년도       74485 non-null  int64
 3   시군구_대범주    74485 non-null  object
 4   시군구_소범주    74485 non-null  object
 5   사고내용       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형_소범주   74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태_소범주   74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태_소범주   74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  float64
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  float64
 22  피해운전자상해정도  72225 non-null  object
 23  사고월        74485 non-null  int64
 24  사고일        74485 non-null  int64
 25  사고시각       74485 non-null  object
 26  사고요일       74485 non-null  int64
 27  사고유형_대범주   74485 non-null  object
 28  노면상태_대범주   74485 non-null  object
 29  도로형태_대범주   74485 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(8), object(19)
memory usage: 17.0+ MB

In [62]:
df['피해운전자연령'].describe()

count    72049.000000
mean        45.369054
std         16.384227
min          1.000000
25%         32.000000
50%         45.000000
75%         58.000000
max         98.000000
Name: 피해운전자연령, dtype: float64

- publish

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   사고년도       74485 non-null  int64
 3   시군구_대범주    74485 non-null  object
 4   시군구_소범주    74485 non-null  object
 5   사고내용       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형_소범주   74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태_소범주   74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태_소범주   74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  float64
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  float64
 22  피해운전자상해정도  72225 non-null  object
 23  사고월        74485 non-null  int64
 24  사고일        74485 non-null  int64
 25  사고시각       74485 non-null  object
 26  사고요일       74485 non-null  int64
 27  사고유형_대범주   74485 non-null  object
 28  노면상태_대범주   74485 non-null  object
 29  도로형태_대범주   74485 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(8), object(19)
memory usage: 17.0+ MB

In [67]:
#한글 들어가는 파일 인코딩 해주기 , 인덱스 false 해야 행번호 저장 안됨
df.to_csv('data_cleansing_ver01.csv', index=False, encoding='utf-8-sig')

In [69]:
#utf 8 sig로 인코딩 지정했으면 불러올때 따로 인코딩 안해도 됨 
df02 = pd.read_csv('data_cleansing_ver01.csv')

#but df.info랑 다르게 사고일시 다시 datetime에서 object로 돌아옴 (csv 영속화 안됨 )
df02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  object
 2   사고년도       74485 non-null  int64
 3   시군구_대범주    74485 non-null  object
 4   시군구_소범주    74485 non-null  object
 5   사고내용       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형_소범주   74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태_소범주   74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태_소범주   74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  float64
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  float64
 22  피해운전자상해정도  72225 non-null  object
 23  사고월        74485 non-null  int64
 24  사고일        74485 non-null  int64
 25  사고시각       74485 non-null  object
 26  사고요일       74485 non-null  int64
 27  사고유형_대범주   74485 non-null  object
 28  노면상태_대범주   74485 non-null  object
 29  도로형태_대범주   74485 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 17.0+ MB

In [70]:
#피클로 저장하면 나름 압축해서 데이터 용량 적고 데이터 형식 안바뀜 
df.to_pickle('02_seoul_accident_clean.pkl')

In [71]:
df03 = pd.read_pickle('02_seoul_accident_clean.pkl')
#피클로 불러오니 사고일시 datetime으로 불러옴! 
df03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   사고년도       74485 non-null  int64
 3   시군구_대범주    74485 non-null  object
 4   시군구_소범주    74485 non-null  object
 5   사고내용       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형_소범주   74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태_소범주   74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태_소범주   74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  float64
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  float64
 22  피해운전자상해정도  72225 non-null  object
 23  사고월        74485 non-null  int64
 24  사고일        74485 non-null  int64
 25  사고시각       74485 non-null  object
 26  사고요일       74485 non-null  int64
 27  사고유형_대범주   74485 non-null  object
 28  노면상태_대범주   74485 non-null  object
 29  도로형태_대범주   74485 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(8), object(19)
memory usage: 17.0+ MB